.git

# Project
project_ignore/
goodconfig.txt
assets/
staticfiles/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
db.sqlite3

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Backup files
*.bak 

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
*.ini

# node
**/node_modules/
package-lock.json
package.json
webpack.common.js
webpack.config.js
webpack.dev.js
webpack.prod.js