{% extends 'pages/base.html' %}
{% load static %}
{% load extra_filters %}
{% block title %}YouDicTube - Log In{% endblock title %}

{% block css_container %}<div class="grid-home-container" id="hcontainer">{% endblock css_container %}
{% block password_change %}

<main id="prof">
    <div id="profile-container" class="p-5 profile-container h-100 d-flex flex-column justify-content-around align-items-center align-content-center">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}  
                        {% comment %} {% if form.non_field_errors %}
                            <ul class="errorlist alert alert-danger"><li>{{ form.non_field_errors }}</li></ul>
                        {% endif %}
                        {% if form.old_password.errors %}
                            <ul class="errorlist alert alert-danger"><li>{{ form.old_password.errors|escape }}</li></ul>
                        {% endif %}       
                        {% if form.new_password1.errors %}
                            <ul class="errorlist alert alert-danger"><li>{{ form.new_password1.errors|escape }}</li></ul>
                        {% endif %}      {% endcomment %}


                        {% if form.new_password1.errors %}
                        <div class="bg-danger-subtle text-dark rounded mb-3 p-2">{{form.new_password1.errors}}</div>
                    {% elif form.new_password2.errors %}
                        <div class="bg-danger-subtle text-dark rounded mb-3 p-2">{{form.new_password2.errors}}</div>
                    {% else %}
                        <div class="bg-info-subtle text-dark rounded mb-3 p-2">
                            <strong>Be careful:</strong><br>
                            {{form.new_password1.help_text}}
                        </div>
                    {% endif %}


            <div class="input-group mb-3 d-flex justify-content-center bg-light rounded p-3 shad w-300">
                <form method="post">{% csrf_token %}
                    <h2 class="bg-light m-3">Change password</h2>
                                      

                        <label class="form-label text-dark s-label mt-3" for="{{ form.old_password.auto_id }}">{{ form.old_password.label }}</label>
                        {{ form.old_password }}

                        <label class="form-label text-dark s-label mt-3" for="{{ form.new_password1.auto_id }}">{{ form.new_password1.label }}</label>
                        {{ form.new_password1 }} 

                        <label class="form-label text-dark s-label mt-3" for="{{ form.new_password2.auto_id }}">{{ form.new_password2.label }}</label>
                        {{ form.new_password2 }} 

                        {% comment %} {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            <label class="form-label text-dark s-label mt-3" for="{{field.label.auto_id }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %} {% endcomment %}

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary mt-3 w-45">Change</button>
                            <a href="{% url 'auth:profile' %}"  class="btn btn-outline-secondary w-45 ms-3 mt-3">Cancel</a>
                        </div>
                </form>
        </div>
    </div>
</main>
{% endblock password_change %}