{% extends 'pages/base.html' %}
{% load static %}
{% block title %}Password reset complete - {% endblock title %}
{% block css_container %}<div class="grid-home-container" id="hcontainer">{% endblock css_container %}
{% block content %}
<main id="prof">
    <div id="profile-container" class="p-5 bonus-container h-100">
        <h2>Password reset complete</h2>
        <p>Your new password has been set. You can now 
        <button class="btn btn-secondary btn-sm m-2 sigbnt">
            <a class="nav-link text-light" href="{% url 'auth:login' %}" >Log in
            </a> 
        </button>        
        </p>

    </div>
</main>
{% endblock %}