{%extends 'pages/base.html'%}
{% load static %}
{% load extra_filters %}
{% block title %}Password reset - {% endblock title %}
{% block css_container %}<div class="grid-home-container" id="hcontainer">{% endblock css_container %}
{%block content%}
<main id="prof">
    <div id="profile-container" class="d-flex justify-content-center align-items-center align-content-center p-5 profile-container h-100">
            <div class="input-group mb-3 d-flex justify-content-center bg-light rounded p-3 shad w-300">
				<form method="post">
					{% csrf_token %}
					<h2 class="bg-light">Reset your password</h2>
					<label class="form-label text-dark s-label mt-3" for="{{ form.email.auto_id }}">Type your {{ form.email.label }}</label>
					{{ form.email }}
					{% if form.email.errors %}
						<div class="alert alert-danger mt-3">
							{{ form.email.errors|escape }}
						</div>
					{% endif %} 
					<div class="form-group">
						<input type="submit" value="Send" class="btn btn-primary mt-3 w-45">
						<a href="{% url 'auth:login' %}"  class="btn btn-outline-secondary w-45 ms-3 mt-3">Cancel</a>
					</div>
				</form>
			</div>
		</div>
</main>
{%endblock content%}