{% extends 'pages/base.html' %}
{% load static %}
{% load compress %}
{% block title %}new password{% endblock title %}
{% block css_container %}<div class="grid-home-container" id="hcontainer">{% endblock css_container %}
{% block content %}
<main id="prof">
  <div id="profile-container" class="profile-container h-100 p-5">  
    {% if form.new_password1.errors %}
        <div class="bg-danger-subtle text-dark rounded mb-3 p-2">{{form.new_password1.errors}}</div>
        <div class="bg-danger-subtle text-dark rounded mb-3 p-2">{{form.new_password1.help_text}}!!!</div>
    {% elif form.new_password2.errors %}
        <div class="bg-danger-subtle text-dark rounded mb-3 p-2">{{form.new_password2.errors}}</div>
    {% else %}
        
    {% endif %}
      {% if validlink %}
        <div class="d-flex justify-content-center align-items-center align-content-center mt-5 mb-5">
            <div class="input-group mb-3 d-flex justify-content-center bg-light rounded p-3 shad w-300">
                <h2>Please enter (and confirm) your new password.</h2>
                    <form method="post">{% csrf_token %}
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                        <label class="form-label text-dark s-label mt-3" for="id_new_password1">New password</label>
                            {{ form.new_password1 }}
                        <label class="form-label text-dark s-label mt-3" for="id_new_password2">Confirm password</label>
                            {{ form.new_password2 }}
                        <button type="submit" class="btn btn-primary w-100 mt-3" >Change my password</button>
                    </form>
    {% else %}
        <div class="bg-danger-subtle text-dark rounded mb-3 p-2">
            <h2>Password reset failed</h2>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        </div>
    {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}