This project was first of all a personal need, I watched a video while pausing at each sentence to write it down, then I wanted to make the process easier and more practical.
This is just the beginning for this project and it could expand over time. 
For the moment, each video is timestamped by hand, the text is taken from automatic translations from Youtube or from transcripts given by the author of the video.
In the case of automatic transcripts, there are many errors to correct natively (and some may remain after publication).
This is still a development level project and may bring changes in the future.

